.Navigation {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: #f8f8f8;
    position: sticky;
    top: 0px;

    .Logo {
        display: block;
        max-width: 50px;
        max-height: 50px;
        & > g {
            & > path {
                fill: #eee;
            }
        }
    }

    & > .LinkContainer {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        & > .NavLink {
            text-decoration: none;
            text-transform: uppercase;
            color: #333;
            font-size: 0.8rem;
            padding: 5px;
        }
    }
}
