.CartDropDown {
    position: fixed;
    border: 1px solid #333;
    background: #fff;
    right: 20px;
    top: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    & button {
        width: 100%;
    }
}
