.CartDropDown {
    position: fixed;
    border: 1px solid #333;
    background: #fff;
    right: 20px;
    top: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;

    & button {
        width: 100%;
        margin-top: 10px;
    }

    & > .CartItemsContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
